header {
    background-image: url("../images/frituurBanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    padding-bottom: 100px;
    text-align: center;
}

body {
    background-color: azure;
}

h1 {
    font-family: Architects Daughter;
    color: azure;
    font-size: 58px;
    padding-top: 100px;
}

h2 {
    font-family: "Architects Daughter";
    color: black;
    font-size: 30px;
    text-align: center;
}
h3 {
    font-family: "Architects Daughter";
    color: black;
    font-size: 20px;
    text-align: center;
}
/*pagina met alfabet*/
.lijstAlfabet, .lijstAlfabetSaus{
    text-align: center;
}
.lijstAlfabet li{
    display: inline-flex;
    font-family: "Architects Daughter";
    font-size: 25px;
    padding-left: 10px;
    text-transform: uppercase;
}
.lijstAlfabet li a {
    text-decoration: none;
}
.lijstAlfabetSaus li{
    font-family: "Architects Daughter";
    font-size: 25px;
    list-style-type: none;
    text-transform: capitalize;
}

/*menu*/
#menu ul {
    background-color: darkcyan;
    text-align: center;
}

#menu li {
    display: inline;
    font-family: "Architects Daughter";
    font-size: 20px;
}

#menu li a {
    color: whitesmoke;
    vertical-align: middle;
    font-weight: bold;
    padding-left: 2em;
}

#menu li a:hover {
    color: yellow;
}

/*welkomspagina*/
#indexpagina {
    margin: 10%;
    text-align: center;
}

p #indexpagina {
    text-align: center;
}