header {
    background-image: url("../images/frituurBanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    padding-bottom: 100px;
    text-align: center;
}

body {
    background-color: azure;
}

h1 {
    font-family: Architects Daughter;
    color: azure;
    font-size: 58px;
    padding-top: 100px;
}

h2 {
    font-family: "Architects Daughter";
    color: black;
    font-size: 30px;
    text-align: center;
}
h3 {
    font-family: "Architects Daughter";
    color: black;
    font-size: 20px;
    text-align: center;
}
/*pagina met alfabet*/
.lijstAlfabet, .lijstAlfabetSaus{
    text-align: center;
}
.lijstAlfabet li{
    display: inline-flex;
    font-family: "Architects Daughter";
    font-size: 25px;
    padding-left: 10px;
    text-transform: uppercase;
}
.lijstAlfabet li a {
    text-decoration: none;
}
.lijstAlfabetSaus li{
    font-family: "Architects Daughter";
    font-size: 25px;
    list-style-type: none;
    text-transform: capitalize;
}

/*menu*/
#menu ul {
    background-color: darkcyan;
    text-align: center;
}

#menu li {
    display: inline;
    font-family: "Architects Daughter";
    font-size: 20px;
}

#menu li a {
    color: whitesmoke;
    vertical-align: middle;
    font-weight: bold;
    padding-left: 2em;
}

#menu li a:hover {
    color: yellow;
}

/*welkomspagina*/
#indexpagina {
    margin: 10%;
    text-align: center;
}

p #indexpagina {
    text-align: center;
}

/*tabel*/

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: 0;
    padding: 8px 16px;
}

button:hover {
    background-color: #3e8e41;
}

button:active {
    background-color: #3ecc41;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

table,
td,
th {
    border: 1px solid silver;
    border-collapse: collapse;
    padding: 5px 5px;
}

th {
    color: white;
    background-color: #4CAF50;
}

td {
    padding-left: 0.2em;
    padding-right: 0.2em;
}

td a {
    color: black;
    text-decoration: none;
}

td a:hover {
    color: #F7FFCC;
}

tr:nth-child(even) {
    background-color: #FAFABA;
}

tr:nth-child(odd) {
    background-color: #FAFAFA;
}

tr:hover {
    background-color: gold;
}