<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments::head(title='Sauzen')"></head>
<body>
<header th:replace="fragments::banner"></header>
<nav th:replace="fragments::menu"></nav>
<div>
    <h2>Onze sauzen</h2>
    <ul>
        <li th:each="saus : ${sauzen}" th:object="${saus}">
            <a th:text="*{naam}" th:href="@{/sauzen/{id} (id=*{id})}"></a>
            <ul>
                <li th:each="ingredient : *{ingredienten}"
                    th:text="${ingredient}"></li>
            </ul>
        </li>
    </ul>
</div>
</body>
</html>